<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>nav抽取</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/nav.css}">
    <link rel="shortcut icon" th:href="@{/static/images/favicon.ico}" type="image/x-icon" />

    <script type="application/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.js}"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;" th:fragment="nav">
    <div class="container">
        <a class="navbar-brand" href="/index">
            <img th:src="@{/static/images/icon.jpg}" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 search_input " type="search" placeholder="Search" aria-label="Search" style="width: 300px">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/index">主页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link2</a>
                </li>
            </ul>

        </div>

        <div class="nav-item" th:if="${session.user == null}">
            <!--http://github.com/login/oauth/authorize?client_id=e16757cb7a1ecb7c8071&redirect_uri=http://localhost:8080/callback&scope=user&state=1-->
            <!--client_id:自己申请的OAuth应用的id，redirect_uri：回调的地址 scope： 要获取的用户信息  -->
            <a class="nav-link btn-outline-success"
               href="http://github.com/login/oauth/authorize?client_id=e16757cb7a1ecb7c8071&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a>
        </div>

        <div class="nav-item dropdown" th:if="${session.user} != null">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" th:text="${session.user.name}">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/homepage">我的主页</a>
                <a class="dropdown-item" href="#">MyInfo</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/publish">发起提问</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">退出登陆</a>
            </div>
        </div>
    </div>
</nav>

<!--抽取主页的右侧的navs-->

<div class="list-group" id="navs">
    <a href="#" class="list-group-item list-group-item-action active" style="border: none;">
        我提出的问题
    </a>
    <a href="#" class="list-group-item list-group-item-action" style="border: none;">我关注的问题</a>
    <a href="#" class="list-group-item list-group-item-action"style="border: none;">我的草稿</a>
    <a href="#" class="list-group-item list-group-item-action" style="border: none;">我的收藏</a>
</div>
</body>
</html>