body {
    background-image: url("../images/bg.jpg");
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.main {
    padding: 25px;
    margin-top: 20px;
    background: white;
}

.info_span {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.media-body a:hover {
    text-decoration: none;
    color: #499ef3;
}

.media-body a:active, a:hover {
    outline: 0;
}

.media-body a {
    cursor: pointer;
    color: #155faa;
    text-decoration: none;
    background: 0 0;
}

.media img {
    width: 35px;
    height: 35px;
    margin-top: 8px;
}

.bi-list-task {
    margin-top: -5px;
}