body {
    background-image: url("../images/bg.jpg");
}

.main {
    padding: 25px;
    margin-top: 20px;
    background: white;
}

.left_cont h1 {
    font-size: 25px;
    line-height: 30px;
    color: #333;
    font-family: candara, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif, -apple-system;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

.left_cont {
    border-right-color: rgba(0, 0, 0, 0.125);
    border-right-style: solid;
    border-right-width: 1px;
}

.text_color_999 {
    color: #999;
    font-size: 12px;
    font-style: normal;
    line-height: 160%;
}

.ques_info {
    margin-right: 60px;
}

.left_cont h2 {
    top: 16px;
    left: 20px;
    margin: 0;
    font-size: 20px;
    color: #333;
    line-height: 1.7;
    font-family: candara, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif, -apple-system;
}

.option {
    color: #155faa;
    margin-right: 10px;

}

.option:hover {
    color: #499ef3;
    text-decoration: none;
}

.media-body {
    margin-top: 10px;
}

.media {
    margin-top: 20px;
    margin-left: 15px;
}

.media img {
    width: 35px;
    height: 35px;
    margin-top: 8px;
}

.btn-info {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reply {
    margin-top: 20px;
}

.comment_name {
    cursor: pointer;
    font-weight: 700;
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
    background: 0 0;
    font-family: candara, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif, -apple-system;
    font-size: 14px;
    line-height: 160%;
}

.comment_name:hover {
    color: #499ef3;
    text-decoration: none;
}

.time_span {
    color: #bbbbbb;
    font-size: .875em;
    margin-left: 10px;
}

.comment_content {
    margin: 0 0 .5em;
    line-height: inherit;
    font-size: 1.1em;
}

.like {
    margin-right: 5px;
}

.bi {
    margin: 0 5px 0 10px;
}

.like_count, .comment_count {
    font-size: 10px;
    color: #858585;
    -moz-user-select:none;
}

.count_div {
    margin: 0 0 10px 10px;
}