<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>论坛</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{static/css/index.css}">
    <link rel="shortcut icon" th:href="@{static/images/favicon.ico}" type="image/x-icon" />

    <script type="application/javascript" th:src="@{webjars/jquery/3.4.1/jquery.js}"></script>
    <script type="application/javascript" th:src="@{webjars/bootstrap/4.4.1/js/bootstrap.js}"></script>

</head>
<body>
<!--引入抽取的nav bar-->
<div th:replace="common/nav::nav"></div>

<div class="container main">
    <div class="row">
        <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">
            <ul class="list-unstyled">
                <li class="media my-4">
                    <img src="..." class="mr-3" alt="...">
                    <div class="media-body">
                        <a class="mt-0 mb-1 d-block">问题。。。。</a>
                        <span class="info_span">
                            • <span>1</span> 个回复 • <span>1</span> 次浏览 • <span>1</span> 小时前
                        </span>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="..." class="mr-3" alt="...">
                    <div class="media-body">
                        <a class="mt-0 mb-1 d-block">问题。。。。</a>
                        <span class="info_span">
                            • <span>1</span> 个回复 • <span>1</span> 次浏览 • <span>1</span> 小时前
                        </span>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="..." class="mr-3" alt="...">
                    <div class="media-body">
                        <a class="mt-0 mb-1 d-block">问题。。。。</a>
                        <span class="info_span">
                            • <span>1</span> 个回复 • <span>1</span> 次浏览 • <span>1</span> 小时前
                        </span>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="..." class="mr-3" alt="...">
                    <div class="media-body">
                        <a class="mt-0 mb-1 d-block">问题。。。。</a>
                        <span class="info_span">
                            • <span>1</span> 个回复 • <span>1</span> 次浏览 • <span>1</span> 小时前
                        </span>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="..." class="mr-3" alt="...">
                    <div class="media-body">
                        <a class="mt-0 mb-1 d-block">问题。。。。</a>
                        <span class="info_span">
                            • <span>1</span> 个回复 • <span>1</span> 次浏览 • <span>1</span> 小时前
                        </span>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="..." class="mr-3" alt="...">
                    <div class="media-body">
                        <a class="mt-0 mb-1 d-block">问题。。。。</a>
                        <span class="info_span">
                            • <span>1</span> 个回复 • <span>1</span> 次浏览 • <span>1</span> 小时前
                        </span>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="..." class="mr-3" alt="...">
                    <div class="media-body">
                        <a class="mt-0 mb-1 d-block">问题。。。。</a>
                        <span class="info_span">
                            • <span>1</span> 个回复 • <span>1</span> 次浏览 • <span>1</span> 小时前
                        </span>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="..." class="mr-3" alt="...">
                    <div class="media-body">
                        <a class="mt-0 mb-1 d-block">问题。。。。</a>
                        <span class="info_span">
                            • <span>1</span> 个回复 • <span>1</span> 次浏览 • <span>1</span> 小时前
                        </span>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="..." class="mr-3" alt="...">
                    <div class="media-body">
                        <a class="mt-0 mb-1 d-block">问题。。。。</a>
                        <span class="info_span">
                            • <span>1</span> 个回复 • <span>1</span> 次浏览 • <span>1</span> 小时前
                        </span>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="..." class="mr-3" alt="...">
                    <div class="media-body">
                        <a class="mt-0 mb-1 d-block">问题。。。。</a>
                        <span class="info_span">
                            • <span>1</span> 个回复 • <span>1</span> 次浏览 • <span>1</span> 小时前
                        </span>
                    </div>
                </li>

            </ul>
        </div>
        <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12 tips">
            <h3>指南</h3>
        </div>
    </div>

</div>
</body>
</html>