<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的主页</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/question.css}">
    <link rel="shortcut icon" th:href="@{/static/images/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/editormd.preview.css"/>

    <script type="application/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.js}"></script>
    <script src="/static/js/editormd.min.js"></script>
    <script src="/static/lib/marked.min.js"></script>
    <script src="/static/lib/prettify.min.js"></script>
</head>
<body>
<!--引入nav  bar-->
<div th:replace="common/nav::nav"></div>
<div class="container main">
    <div class="row">
        <div th:class="${self ? 'col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 left_cont' : 'col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12 left_cont'}">
            <a href="javascript:history.go(-1);" class="option">
                <svg class="bi bi-chevron-left" width="2em" height="2em" viewBox="0 0 20 20" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M13.354 3.646a.5.5 0 010 .708L7.707 10l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                          clip-rule="evenodd"></path>
                </svg>
            </a>

            <h1>
                <svg class="bi bi-list-task" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M4 4.5a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h1a.5.5 0 00.5-.5V5a.5.5 0 00-.5-.5H4zM5 5H4v1h1V5z"
                          clip-rule="evenodd"></path>
                    <path d="M7 5.5a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zM7.5 9a.5.5 0 000 1h9a.5.5 0 000-1h-9zm0 4a.5.5 0 000 1h9a.5.5 0 000-1h-9z"></path>
                    <path fill-rule="evenodd"
                          d="M3.5 9a.5.5 0 01.5-.5h1a.5.5 0 01.5.5v1a.5.5 0 01-.5.5H4a.5.5 0 01-.5-.5V9zM4 9h1v1H4V9zm0 3.5a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h1a.5.5 0 00.5-.5v-1a.5.5 0 00-.5-.5H4zm1 .5H4v1h1v-1z"
                          clip-rule="evenodd"></path>
                </svg>
                [[${ques.title}]]
            </h1>
            <span class="text_color_999 ques_info">作者：[[${ques.user.name}]] | 发布于[[${#dates.format(ques.gmtCreate, 'yyyy-MM-dd HH:mm')}]] | 浏览数：[[${ques.viewCount}]]</span>
            <div style="display: inline;" th:unless="${(session.user==null)||(ques.user.name != session.user.name)}">
                <a th:href="@{'/publish/'+${ques.id}}" class="option">
                    <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M13.293 3.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM14 4l2 2-9 9-3 1 1-3 9-9z"
                              clip-rule="evenodd"></path>
                        <path fill-rule="evenodd"
                              d="M14.146 8.354l-2.5-2.5.708-.708 2.5 2.5-.708.708zM5 12v.5a.5.5 0 00.5.5H6v.5a.5.5 0 00.5.5H7v.5a.5.5 0 00.5.5H8v-1.5a.5.5 0 00-.5-.5H7v-.5a.5.5 0 00-.5-.5H5z"
                              clip-rule="evenodd"></path>
                    </svg>
                    编辑
                </a>
                <a href="#" class="option" onclick="delQues()">
                    <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.5 7.5A.5.5 0 018 8v6a.5.5 0 01-1 0V8a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V8a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V8z"></path>
                        <path fill-rule="evenodd"
                              d="M16.5 5a1 1 0 01-1 1H15v9a2 2 0 01-2 2H7a2 2 0 01-2-2V6h-.5a1 1 0 01-1-1V4a1 1 0 011-1H8a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM6.118 6L6 6.059V15a1 1 0 001 1h6a1 1 0 001-1V6.059L13.882 6H6.118zM4.5 5V4h11v1h-11z"
                              clip-rule="evenodd"></path>
                    </svg>
                    删除
                </a>
            </div>
            <hr>
            <div th:each="tag : ${#strings.listSplit(ques.tag,'_')}" style="display: inline; margin-right: 10px;">
                <span class="badge badge-pill badge-primary" th:text="${tag}"
                      style="font-size: 15px; font-weight: normal; cursor: pointer;"></span>
            </div>
            <hr>
            <div id="test-markdown-view">
                <textarea style="display:none;" th:text="${ques.content}"></textarea>
            </div>
            <script type="text/javascript">
                $(function () {
                    var testView = editormd.markdownToHTML("test-markdown-view", {
                        // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
                        // htmlDecode : true,  // Enable / disable HTML tag encode.
                        // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
                    });
                });
            </script>
            <hr>
            <h2>[[${ques.commentCount}]]个回复</h2>
            <hr>

            <!--一级评论-->
            <div th:each="comment : ${comments}" id="total-id" th:data-total="${comments.size()}">
                <div class="media">
                    <img th:src="${comment.user.avatarUrl}" class="mr-3" th:alt="${comment.user.name}">
                    <div class="media-body">
                        <a class="mt-0 comment_name" href="#" th:text="${comment.user.name}"></a>
                        <span th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd HH:mm')}" class="time_span"></span>
                        <p class="comment_content">[[${comment.content}]]</p>
                        <div class="count_div">
                            <div style="display: inline;" class="bi-like-div" th:data-id="${comment.id}"
                                 th:id="'bi-like-div-'+${comment.id}">
                                <svg class="bi bi-heart-fill like" width="1em" height="1em" viewBox="0 0 20 20"
                                     th:fill="${comment.liker==null || session.user==null ? 'black':(#strings.contains(comment.liker,session.user.id+',') ? 'blue':'black' )  }"
                                     xmlns="http://www.w3.org/2000/svg" th:id="'bi-like-'+${comment.id}">
                                    <path fill-rule="evenodd"
                                          d="M10 3.314C14.438-1.248 25.534 6.735 10 17-5.534 6.736 5.562-1.248 10 3.314z"
                                          clip-rule="evenodd"></path>
                                </svg>
                                <span class="like_count" th:text="${comment.likeCount}"
                                      onselectstart="return false;">
                                </span>
                            </div>
                            <div style="display: inline;" class="bi-chat-div" th:data-id="${comment.id}">
                                <svg class="bi bi-chat" width="1em" height="1em" viewBox="0 0 20 20"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg" th:id="'bi-div-'+${comment.id}">
                                    <path fill-rule="evenodd"
                                          d="M8.207 13.293L7.5 14a5.5 5.5 0 110-11h5a5.5 5.5 0 110 11s-1.807 2.169-4.193 2.818C7.887 16.933 7.449 17 7 17c.291-.389.488-.74.617-1.052C8.149 14.649 7.5 14 7.5 14c.707-.707.708-.707.708-.706h.001l.002.003.004.004.01.01a1.184 1.184 0 01.074.084c.039.047.085.108.134.183.097.15.206.36.284.626.114.386.154.855.047 1.394.717-.313 1.37-.765 1.895-1.201a10.266 10.266 0 001.013-.969l.05-.056.01-.012m0 0A1 1 0 0112.5 13a4.5 4.5 0 100-9h-5a4.5 4.5 0 000 9 1 1 0 01.707.293"
                                          clip-rule="evenodd"></path>
                                </svg>
                                <svg class="bi bi-chat-fill" width="1em" height="1em" viewBox="0 0 20 20"
                                     fill="blue" xmlns="http://www.w3.org/2000/svg"
                                     th:id="'bi-fill-div-'+${comment.id}"
                                     display="none">
                                    <path fill-rule="evenodd"
                                          d="M7.5 14s.65.65.117 1.948A4.821 4.821 0 017 17c.449 0 .887-.067 1.307-.181C10.692 16.169 12.5 14 12.5 14a5.5 5.5 0 100-11h-5a5.5 5.5 0 100 11z"
                                          clip-rule="evenodd"></path>
                                </svg>
                                <span class="comment_count" onselectstart="return false;"
                                      th:id="'comment-count'+${comment.id}"></span>
                            </div>

                            <!--二级评论-->
                            <div class="collapse" th:id="'col-comment-'+${comment.id}">
                                <div class="card card-body">
                                    <div>
                                        <div class="media" th:id="'media-'+${comment.id}">

                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="评论一下..."
                                                   th:id="'comment-input-'+${comment.id}">
                                            <div class="input-group-append comment-reply"
                                                 th:data-parent="${comment.parentId}" th:data-id="${comment.id}">
                                                <button class="btn btn-outline-secondary btn-success" type="button"
                                                        th:id="'comment-btn-'+${comment.id}"
                                                        style="color: white;">评论
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div id="reply_div" th:unless="${self}">
                <div class="media" th:if="session.user">
                    <img th:src="${session.user.avatarUrl}" class="mr-3" th:alt="${session.user.name}">
                    <div class="media-body">
                        <h5 class="mt-0" th:text="${session.user.name}"></h5>
                    </div>
                </div>
                <div class="form-group reply">
                    <label for="reply_ques_cont">回复：</label>
                    <textarea class="form-control" id="reply_ques_cont" rows="12" minlength="12"></textarea>
                </div>
                <button type="button" class="btn btn-info" onclick="reply_Ques()">回复</button>
            </div>

        </div>

        <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12 right_bar" th:unless="${self}">
            <h4 class="display-4">发起人</h4>
            <div class="media">
                <img th:src="${ques.user.avatarUrl}" class="mr-3" th:alt="${ques.user.name}">
                <div class="media-body">
                    <h5 class="mt-0" th:text="${ques.user.name}"></h5>
                </div>
            </div>
            <hr class="my-4">
            <p>相关问题推荐</p>
            <div th:each="related :${relatedQues}">
                <a th:href="'/question/info/'+${related.id}">
                    <div role="alert" th:class="${relatedStat.odd} ? 'alert alert-primary':'alert alert-info'"
                         th:text="${related.title}">
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
<!--模态框弹窗-->
<div class="modal" tabindex="-1" role="dialog" id="info-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">提示信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="confirm" style="display: none;">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        var total = $("#total-id").attr("data-total");
        for (var i = 0; i < total; i++) {
            $(".bi-chat-div")[i].click();
        }
    });

</script>
<script>
    function reply_Ques() {
        var content = $("#reply_ques_cont").val();
        if (content.trim().length == 0) {
            $(".modal-body p").text("输入内容不能为空");
            $("#confirm").hide();
            $("#info-modal").modal('show');
        } else {
            $.ajax({
                url: "/comment",
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({
                    'parentId': [[${ques.id}]],
                    'content': content,
                    "type": 1
                }),
                type: "POST",
                success: function (res) {
                    $("#reply_div").hide();
                    location.reload(true);
                }
            })
        }

    }

    //实现二级评论的展示
    $(".bi-chat-div").click(function () {
        var id = $(this).attr("data-id");
        $("#media-" + id).empty();
        var col_comment = $("#col-comment-" + id);
        col_comment.toggleClass("show");
        if (col_comment.hasClass("show")) {
            $("#bi-div-" + id).hide();
            $("#bi-fill-div-" + id).show();
            $.ajax({
                url: "/comment/com2com",
                dataType: 'json',
                data: {
                    "parentId": id,
                    "type": 2
                },
                type: "GET",
                success: function (res) {
                    var comment = res.ext.res;
                    $("#comment-count" + id).text(comment.length);
                    // console.log(comment);
                    if (comment.length > 0) {
                        for (var j = 0; j < comment.length; j++) {
                            var img = "<img src=\"" + comment[j].user.avatarUrl + "\"  class=\"mr-3\" style='float: left;'/>";
                            var time = formatDate(comment[j].gmtCreate, 'YY/MM/DD hh:mm');
                            var media = $("#media-" + id).css('display', 'block');
                            // alert(time);
                            var div = "<div class='media-body col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>   <a class=\"mt-0 comment_name\" href=\"#\" >" + comment[j].user.name + "</a>" +
                                " <span class=\"time_span\">" + time + "</span>" +
                                "<p class=\"comment_content\">" + comment[j].content + "</p> </div>";
                            media = media.append(img).append(div);
                        }
                    }

                }
            })
        } else {
            $("#bi-div-" + id).show();
            $("#bi-fill-div-" + id).hide();
        }
    });

    //format  日期
    function formatDate(time, format='YY-MM-DD hh:mm:ss') {
        var date = new Date(time);

        var year = date.getFullYear(),
            month = date.getMonth() + 1,//月份是从0开始的
            day = date.getDate(),
            hour = date.getHours(),
            min = date.getMinutes(),
            sec = date.getSeconds();
        var preArr = Array.apply(null, Array(10)).map(function (elem, index) {
            return '0' + index;
        });////开个长度为10的数组 格式为 00 01 02 03

        var newTime = format.replace(/YY/g, year)
            .replace(/MM/g, preArr[month] || month)
            .replace(/DD/g, preArr[day] || day)
            .replace(/hh/g, preArr[hour] || hour)
            .replace(/mm/g, preArr[min] || min)
            .replace(/ss/g, preArr[sec] || sec);

        return newTime;
    };


    //实现回复评论
    $(".comment-reply").click(function () {
        var id = $(this).attr("data-id");
        var content = $("#comment-input-" + id).val();
        if (content.trim().length == 0) {
            $(".modal-body p").text("输入内容不能为空");
            $("#confirm").hide();
            $("#info-modal").modal('show');
        } else {
            $.ajax({
                url: "/comment",
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({
                    'parentId': id,
                    'content': content,
                    "type": 2
                }),
                type: "POST",
                success: function () {
                    location.reload(true);
                }
            })
        }
    });

    //实现删除功能
    function delQues() {
        $(".modal-body p").text("确认要删除吗？");
        $("#confirm").show();
        $("#info-modal").modal('show');


    };

    $("#confirm").click(function () {
        //向后盾发送ajax请求删除指定id的问题
        $.ajax({
            url: "/question/del",
            dataType: 'json',
            data: {
                'id': [[${ques.id}]]
            },
            type: "POST",
            success: function () {
                window.location.href = "/index";
            }
        })
    });

    //喜歡評論
    $(".bi-like-div").click(function () {
        var id = $(this).attr("data-id");
        var like_div_svg = $("#bi-like-div-" + id + " svg");
        var like_div_span = $("#bi-like-div-" + id + " span");
        if (like_div_svg.attr("fill") === "blue") {
            like_div_svg.attr("fill", "black");
            like_div_span.text(parseInt(like_div_span.text()) - 1)
        } else {
            like_div_svg.attr("fill", "blue");
            like_div_span.text(parseInt(like_div_span.text()) + 1)
        }
        $.ajax({
            url: "/comment/like",
            dataType: 'json',
            type: 'Get',
            data: {
                'id': id
            },
            success: function (res) {
                console.log(res)
            }
        })
    })
</script>
</html>